{% extends "layout.html" %}
{% load static %}

{% block title %}
Букет {{ flower.title }} - Магазин цветов FlowerShop
{% endblock title %}

{% block content %}
<section id="card">
    <div class="container">
        <div class="card ficb">
            <div class="card__block card__block_first">
                <img src="{{flower.image.url}}" alt="img" class="card__img">
            </div>
            <div class="card__block card__block_sec">
                <div class="title">{{flower.title}}</div>
                <div class="card__block_price">{{flower.price|floatformat:0}} руб</div>
                <div class="card__elems ">
                    <span class="card__elems_intro">Повод:</span>
                    <div class="card__items">
                        <span class="card_items_intro">{{ flower.reason }}</span>
                    </div>
                </div>
                <div class="card__elems ">
                    <span class="card__elems_intro">Состав:</span>
                    <div class="card__items">
                        <span class="card_items_intro">
                            {% autoescape off %}
                                {{ flower.composition }}
                            {% endautoescape %}
                        </span>
                    </div>
                </div>
                <div class="card__elems ">
                    <span class="card__elems_intro">Размер:</span>
                    <div class="card__items">
							<span class="card_items_intro">
								{{flower.size}}
							</span>
                    </div>
                </div>
                <div class="card__elems ">
                    <span class="card__elems_intro">Описание:</span>
                    <div class="card__items">
                        <span class="card_items_intro">
                            {% autoescape off %}
                                {{flower.description}}
                            {% endautoescape %}
                        </span>
                    </div>
                </div>
                <a href="{% url 'order' id=flower.id %}">
                    <button class="btn largeBtn card__btn">Заказать букет</button>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="consultation">
    <div class="container">
        <div class="consultation">
            <div class="title consultation__title">Оставьте заявку на консультацию</div>
            <form action="#" class="consultation__form">
                <input type="text" name="fname" class="consultation__form_input" placeholder="Введите Имя" required>
                <input type="text" name="tel" class="consultation__form_input" placeholder="+ 7 (999) 000 00 00"
                       required>
                <button type="submit" class="consultation__form_btn">Отправить</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}