{% extends "layout.html" %}
{% load static %}

{% block title %}
Каталог Flower Shop
{% endblock title %}

{% block content %}
<section id="catalog">
	<div class="container p100">
		<div class="catalog">
			<div class="title">Все букеты</div>
			<div class="catalog__block">
				<div class="catalog_wrap recommended__elems ficb recommended__elems_first">
				{% for bouquet in bouquets %}
					<a href="{% url 'card' %}" class="catalog__item recommended__block" style="background-image: url({{bouquet.image.url}})">
						<div class="catalog__item_text recommended__block_elems ficb">
							<span class="recommended__block_intro">{{bouquet.title}}</span>
							<span class="recommended__block_price">{{bouquet.price}}</span>
						</div>
					</a>
				{% endfor %}

				</div>

				<button class="btn largeBtn catalog__btn">Показать ещё</button>
			</div>
		</div>
	</div>
</section>
<section id="consultation">
	<div class="container">
		<div class="consultation">
			<div class="title consultation__title">Оставьте заявку на консультацию</div>
			<form action="#" class="consultation__form">
				<input type="text" name="fname" class="consultation__form_input" placeholder="Введите Имя" required>
				<input type="text" name="tel" class="consultation__form_input" placeholder="+ 7 (999) 000 00 00" required>
				<button type="submit" class="consultation__form_btn">Отправить</button>
			</form>
		</div>
	</div>
</section>
{% endblock content %}