{% extends 'layout.html' %}
{% block title %}Заявки на консультацию{% endblock %}
{% block content %}

<div class="container p50">
		<div class="title">Все заявки</div>
</div>

<div class="container">

        <table class="table custom-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Статус</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Дата подачи</th>
                <th>Ссылка на админку</th>
            </tr>
            </thead>
          {% for consultation in consultations %}
            <tbody>
            <tr>
                <td>{{ consultation.id }}</td>
                <td>{{ consultation.status }}</td>
                <td>{{ consultation.name }}</td>
                <td>{{ consultation.phone }}</td>
                <td>{{ consultation.date }}</td>
                <td>
                  <a href="{% url "admin:flower_app_consultation_change" object_id=consultation.id%}?next={{ request.get_full_path|urlencode }}">
                    Редактировать
                  </a>
                </td>
            </tr>
            </tbody>
          {% endfor %}
        </table>


</div>
{% endblock %}