{% extends "layout.html" %}
{% load static %}

{% block title %}
Каталог Flower Shop
{% endblock title %}

{% block content %}
<section id="catalog">
	<div class="container p50">
		<div class="catalog">
			<div class="title">{{ reason }}</div>
			<div class="catalog__block">
				{% if not flowers %}
					<div class="title">Нет в наличии</div>
				{% endif %}
				<div class="catalog__wrap recommended__elems recommended__elems_first">
				{% for flower in flowers %}
					<a href="{% url 'card' id=flower.id %}" class="catalog__items recommended__block" style="background-image: url({{flower.image.url}})">
						<div class="catalog__item_text recommended__block_elems ficb">
							<span class="recommended__block_intro">{{flower.title}}</span>
							<span class="recommended__block_price">{{flower.price|floatformat:0}} руб</span>
						</div>
					</a>
				{% endfor %}
				</div>
				<div class="p50">
					<a href="{% url 'catalog' %}">
						<button class="btn banner__btn"> Назад </button>
					</a>
				</div>
				<div class="pagination">
					<span class="step-links">
						{% if flowers.has_previous %}
							<a href="?page=1">
								<button class="btn largeBtn catalog__btn">&laquo; В начало</button>
							</a>
						{% endif %}

						{% if flowers.has_next %}
							<a href="?page={{ flowers.next_page_number }}">
								<button class="btn largeBtn catalog__btn">Следующая страница &raquo;</button>
							</a>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="consultation">
	<div class="container">
		<div class="consultation">
			<div class="title consultation__title">Оставьте заявку на консультацию</div>
			<form action="#" class="consultation__form">
				<input type="text" name="fname" class="consultation__form_input" placeholder="Введите Имя" required>
				<input type="text" name="tel" class="consultation__form_input" placeholder="+ 7 (999) 000 00 00" required>
				<button type="submit" class="consultation__form_btn">Отправить</button>
				<div class="chekbox fic">
					<input type="checkbox" class="singUpConsultation__ckekbox" checked required>
					<span style="color: black;" class="chekbox__intro">Я согласен(а) с политикой конфидециоальности</span>
				</div>
			</form>
		</div>
	</div>
</section>
{% endblock content %}